<div class="rr-sidebar">
  <ul class="rr-list">
    {{#each this.model as |artist|}}
      <li class="rr-list-item">
        <LinkTo @route="artists.artist.songs" @model={{artist.slug}}
class="rr-band-link">
          {{artist.name}}
          <span class="rr-pointer">
            {{fa-icon "angle-right"}}
          </span>
        </LinkTo>
      </li>
    {{/each}}
  </ul>
  <div class="rr-new-label">
    <button
          type="button"
          class="avenir bn bg-transparent near-white"
          data-test-rr="new-band-label"
          {{on "click" this.addArtist}}
    >
      {{fa-icon "plus"}}
      Add new band
    </button>
  </div>
</div>
<div class="rr-main-panel">
  {{outlet}}
</div>